/* ROOT STYLES  */

:root {
    /* Colors */
    --main-bg-color: #F3F3F3;
    --header-bg-color: #F3F3F3;
    --footer-bg-color: #0D3655;
    --main-text-color: #0D3655;
    --link-color: #0D3655;
    --hover-color: #9F9E9E;
    --card-color: #DADADC;
    --main-focus-color: #A5D8FF;
    --main-form-color:#0D3655;
    --main-formtext-color: #F3F3F3;


    /* Styles */
    --box-shadow-style: 0 2px 6px 0 #9F9E9E;
    --border-radius-style: 20px;
    --line-height: 150%;

    /* Spacing */
    --default-padding: 1em;

    /* Fonts */
    --main-font: 'Dosis', sans-serif;
}

/* GLOBAL STYLES  */

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--main-bg-color);
    font-family: var(--main-font);
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    overflow-x: hidden;
    box-sizing: border-box;
    display: grid;
    grid-gap: 0px;
    row-gap: 0px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: minmax(0, 1fr) auto auto;
    grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer";
}

main {
    grid-column: 1 / 4;
    grid-row: 2 / 4;
    background-color: var(--main-bg-color);
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-gap: 40px; 
    margin: 0 auto;
    max-width: 1200px;
    min-height: 100vh;
    width: auto;
    text-align: center;
    line-height: 25px;
    box-sizing: border-box;
 }

h2 {
    color: var(--main-text-color);
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    color: var(--hover-color);
}

:focus {
    outline: 3px solid var(--main-focus-color);
    transform: scale(1.08);
}

/* HEADER  */

header {
    grid-column: 1 / 4;
    grid-row: 1 / 1;
    background-color: var(--header-bg-color);
    color: var(--main-text-color);
    height: 350px;
    margin: 0;
    top: 0;
    text-align: center;
    z-index: 100;
    scroll-behavior: smooth;
    letter-spacing: 3px;
    overflow: auto;
    flex-wrap: nowrap;
    display: grid;
    grid-template-columns: repeat(1fr, 2);
    grid-template-areas: 
        "title logo subtitle" 
        "nav nav nav"; 
}

.logo {
    grid-area: logo;
    justify-self: center;
    align-self: center; 
    min-width: 10vh;
    max-width: 100%;
    width: 200px;
    height: 200px;
}

.title, .subtitle {
    align-self: center;
    font-size: 28px;
    letter-spacing: 5px;
}

.title {
    grid-area: title;
}

.subtitle {
    grid-area: subtitle;
}
    
.nav {
    grid-column: 1 / 4;
    grid-row: 2 / 2;
    background-color: var(--header-bg-color);
    margin-top: 3%;
 } 
    
.navlink {
    grid-column: 1 / 4;
    grid-row: 2 / 2;
    border-color: var(--main-formtext-color);
    box-shadow: 0 2px 6px 0 var(--hover-color);
    color:var(--main-text-color);
    text-transform: uppercase;
    border-radius: 12px;  
    text-decoration: none;
    font-size: 20px;
    margin: 0 1.5%;
    padding: 10px;
} 
    
.navlink:hover {
    font-size: 150%;
    color: var(--main-text-color);
    transition: ease-in-out .3s;
    background-color: var(--card-color);
}

.mobile-elements {
    display: none;
    font-size: 30px;
    position: sticky;
}

header a:focus {
    outline: none;
    transform: none;
}

/* FOOTER  */

footer {
    grid-template-areas: 'footer footer footer';
    grid-column: span 4;
    grid-row: 6 / 6;
    background-color: var(--footer-bg-color);
    color: var(--main-text-color);
    width: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 20px 20px;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
}

.footer-texts {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.footer-icons {
    display: flex;
    gap: 20px;
    color: var(--main-bg-color);
    padding-right: 2%;
}

footer i {
    color: var(--main-bg-color);
    font-size: 1.5rem;
}

footer i:hover {
    opacity: 0.7;
}

footer h3 {
    margin: 0 10px;
    color: var(--main-bg-color);
}

.footer-logo {
    min-width: 10vh;
    width: 100px;
    height: 100px;
    max-width: 100%;
}

footer a:focus {
    outline: none;
    transform: none;
}

/* FORMS  */

.formcontainer1 {
    grid-column: 2 / 4;
    grid-row: 3;
}

.formcontainer {
    max-width: 800px; 
    width: 100%;
    margin: 0 auto; 
    text-align: center;
    align-self: center;
}

form {
    display: flex;
    flex-direction: column; 
    width: 100%;
    gap: 15px;
    color: var(--main-form-color);
}

form input[type="text"], 
form select, 
form textarea, 
form input[type="submit"] {
    width: 100%; 
    box-sizing: border-box;
    padding: 12px;
    box-shadow: 0 2px 6px 0 #9F9E9E;
    border-radius: 20px;
    background-color:var(--main-form-color);
    color: var(--main-bg-color);
    resize: vertical;
    font-family: "Dosis";
    text-transform: uppercase;
}

form input[type="submit"] {
    align-self: center; 
    padding: 10px 20px; 
    cursor: pointer; 
    text-transform: uppercase;
    margin-bottom: 10px; 
    margin: 20px;
    color: var(--main-bg-color);
}

input::placeholder {
    color: var(--main-formtext-color);
}
  
input[type=submit]:hover {
    background-color: #9F9E9E;
    color: var(--main-text-color);
}

/* BUTTON  */

#back-button {
    bottom: 10px;
    right: 10px;
    z-index: 99;
    font-size: 15px;
    border: none;
    outline: none;
    background-color: var(--card-color);
    color:var(--main-text-color);
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    border-radius: var(--border-radius-style);
    position: fixed;
}

#back-button:hover {
    border-color: #9F9E9E;
    border-style: double;
}

img {
    max-width: 100%;
    height: auto; 
}
