
/* MAX */

@media screen and (min-width: 1281px) {
body {
    font-size: 18px;
    line-height: 1.6;
}

}

/* MOBILE PHONE */ 

@media only screen and (max-width: 768px) {

/* HEADER */

.mobile-elements {
    display: flex; 
    justify-content: center;
    gap: 1em;
}

.logo {
    height: 100px;
    width: 100px;
}

.title, .subtitle {
    font-size: 15px;
}

.text {
    font-size: 10px;
    line-height: 100%;
}  

.navlink {
    display: none; 
}

/* HOME */ 

.fourthrow {
    box-shadow: var(--box-shadow-style);
    background-color: var(--card-color);
    border-radius: var(--border-radius-style);
    margin: 1em;
}

.formcontainer {
    margin: 20px;
}  

.grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.firstrow, .secondrow, .thirdrow, .fourthrow {
    grid-column: 1 / 2;
}

.firstrow {
    height: auto;  
    background-color: var(--card-color);
    margin-bottom: 2em;
}

.grid-item.aeronautic .text-mobile {
    background-color: var(--card-color);
    border-radius: var(--border-radius-style);
}

.secondrow {
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

.grid-item img {
    height: 300px;  
}

.overlay {
    display: none;
}

.text-mobile {
    display: block;
    padding: 20px;  
}

.image-container {
    position: static;
}

.grid-item img.CSMC {
    object-position: top;
}

/* EXHIBITIONS */ 

.grid-item-exhibition {
    width: 100%; 
}

.grid-item-exhibition img {
    width: 100%;  
    height: 100%; 
}

.mobtext {
    display: block;
    padding: 20px; 
}

.grid-item-exhibition .overlay {
    opacity: 0.6;
    letter-spacing: 13px;
    text-decoration: none;
}

.grid-item-exhibition a, .grid-container a {
    text-decoration: none;
}

/* COSMOLOGY */ 

.background {
    grid-row-start: 1;
    grid-row-end: 3; 
    grid-column-start: 1;
    grid-column-end: 2; 
    height: 100%; 
    padding-bottom: 5%;
}

.headtitle {
    font-size: 30px; 
    height: auto; 
    padding: 5% 0; 
}

.about {
    font-size: 18px; 
    line-height: 30px;
    height: auto; 
    padding: 5%;
    margin-top: 5%;
}

/* VISIT */ 

.container {
    padding: 1em;
}

.timetable,
.map,
.access,
#back-button {
    grid-column: 1 / -1; 
    grid-row: auto;  
}

.googlemap {
    width: 100%;
    max-width: 100%;
    height: 60vh;
 }

 .access, .access h3 {
    text-align: left;
 }

/* INVOLVED */

.container-inv {
    grid-gap: 4em;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
        "support"
        "volunteer"
        "internship"
        "form";          
}

.support {
    grid-column: span 1;
    grid-row: 1;
}

.volunteer {
    grid-column: span 1;
    grid-row: 2;
}

.internship {
    grid-column: span 1;
    grid-row: 3;
}

.formcontainer1 {
    grid-column: span 1;
    grid-row: 4;
}
  
/* FOOTER */

.footer {
    font-size: 15px;
    width: 100%;
}

}

@media (max-width: 400px) {

/* FOOTER */
    
footer {
    flex-direction: column;
    align-items: center;
    padding: 10px;
    }

.footer-texts, .footer-icons {
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

footer h3 {
    margin: 5px 0;
    font-size: 14px;
}

footer i {
    font-size: 1.2rem; 
}

.footer-logo {
    width: 80px; 
    height: 80px; 
 }

}