body {
margin: 0 auto;
padding: 0;
box-sizing: border-box;
font-family: 'Dosis', sans-serif;
color: #0D3655;
background-color: #F3F3F3;
text-transform: uppercase;
overflow-x: hidden;
display: flex;
flex-direction: column;
/* min-height: 100vh;
max-width: 1440px; */
display: grid;
grid-gap: 0px;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-rows: auto 1fr auto;
grid-template-areas: 
'header'
'main'
'footer';
}

/* HEADER  */

header {
  grid-area: 'header';
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 1;
  top: 0;
  background-color: #F3F3F3;
  text-align: center;
  letter-spacing: 3px;
  height: 40vh;
  display: grid;
  justify-content: baseline;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 0px;
  overflow: auto;
  margin-bottom: 5%;
}

.title {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  font-size: 25px;
  letter-spacing: 5px;
  margin-top: 10%;
}

.logo {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  min-width: 10vh;
  width: 250px;
  height: 250px;
  max-width: 100%;
  margin-left: 20%;
} 


.subtitle {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  font-size: 25px;
  letter-spacing: 5px;
  margin-top: 10%;
} 

.nav {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color:#F3F3F3;
  padding-bottom: 0px;
  height: 10vh;
} 

.navlink {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  border-radius: 5px;  
  border-color: #F3F3F3;
  box-shadow: 0 2px 6px 0 #9F9E9E;
  color:#0D3655;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 15px;
  margin: 3%;
  padding: 5px;
} 

.navlink:hover {
  font-size: 110%;
}

/* HOME  */

main {
  grid-area: 'main';
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.austronaut {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  background-image: url(Images/austronaut.jpg);
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
  margin-top: 20px;
  height: 80vh;
  padding-bottom: 50px;
}

.austronaut:hover .overlay {
  opacity: 1;
}

.overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color:#F3F3F3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows:  1fr 1fr;
}

.text {
  color:#0D3655;
  font-size: 20px;
  text-align: center;
  padding: 20px;
  line-height: 120%;
  align-self: center;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
}

.details {
  color:#0D3655;
  font-size: 20px;
  text-align: center;
  padding: 20px;
  line-height: 120%;
  align-self: center;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
}

.cards {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.card1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  height: 70vh;
  background-image: url(Images/kidsclub.jpg);
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
}

.card1:hover .overlay1 {
  opacity: 0;
}

.overlay1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color:#F3F3F3;
}

.text1 {
  color:#0D3655;
  font-size: 20px;
  text-align: center;
  padding: 20px;
  line-height: 120%;
  align-self: center;
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
  grid-column-end: 2;
}

.card2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
  background-image: url(Images/mammoth.jpg);
  background-size: 180%;
  background-repeat: no-repeat;
  background-position: center; 
}

.card3 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
  background-image: url(Images/Nightatthemuseum.jpg);
  background-size: 100%;
  background-position: center; 
  background-repeat: no-repeat;
}

.energetica {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  background-image: url(Images/Loanexh.jpg);
  background-size: 100%;
  background-position: center; 
  background-repeat: no-repeat;
}

.teacherform {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 6;
  background-color: purple;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

/* EXHIBITIONS  */

.cosmology {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 4;
  margin: 0 auto;
  width: 80%;
  height: 50vh;
  display: flex;
  background-image: url(Images/Cosmology.jpg);
  background-size: 100%;
  background-position: center; 
  background-repeat: no-repeat;
  border-radius: 20px;
}

.evolution {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 4;
  margin: 0 auto;
  width: 80%;
  height: 50vh;
  display: flex;
  background-image: url(Images/evolutionhumans.png);
  background-size: 100%;
  background-position: center; 
  background-repeat: no-repeat;
  border-radius: 20px;
}

.biomedicine {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 4;
  margin: 0 auto;
  width: 80%;
  height: 50vh;
  display: flex;
  background-image: url(Images/biomeddicine.png);
  background-size: 100%;
  background-position: center; 
  background-repeat: no-repeat;
  border-radius: 20px;
}

.robotics {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 4;
  margin: 0 auto;
  width: 80%;
  height: 50vh;
  display: flex;
  background-image: url(Images/Robotics.jpg);
  background-size: 100%;
  background-position: center; 
  background-repeat: no-repeat;
  border-radius: 20px;
}

.ecology {
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 1;
  grid-column-end: 4;
  margin: 0 auto;
  width: 80%;
  height: 50vh;
  display: flex;
  background-image: url(Images/Ecology.png);
  background-size: 100%;
  background-position: center; 
  background-repeat: no-repeat;
  border-radius: 20px;
  margin-bottom: 10%;
}

/* COSMOLOGY  */

.background {
  grid-row-start: 1;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 4;
  background-size: cover;
  background-repeat: no-repeat;
  background-image:url(/images/cosmologybackground.jpg);
  height: 200vh;
} 

.content {
  background: #F3F3F3;
  opacity: 0.8;
}

.headtitle {
  font-size: 50px;
  font-weight: 00; 
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image:url(/images/cosmologybackground.jpg);
  height: 20vh;
  margin: 20px;
  padding: 0px;
  text-align: center;
}

.about {
  background-color: #F3F3F3;
  height: 75vh;
  opacity: 0.8;
  border-radius: 20px;
  text-align: center;
  line-height: 140%;
  padding: 20px;
  padding-top: 30px;
  text-transform: none;
  font-size: 25px;
  margin-top: 10%;
}


/* GET INVOLVED  */

.container {
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 4;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin: 0 auto;
  width: 80%;
  height: 100vh;
  text-align: center;
  row-gap: 30px;
}

.support {
  background-color: indianred;
  color: black;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
}

.volunteer {
  background-color: green;
  color: black;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
  margin-right: 2%;
}

.internship {
  background-color: blue;
  color: black;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
  margin-left: 2%;
}

.getinvolved {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 3;
  background-color: violet;
}

/* VISIT US  */

.container {
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 4;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 0 auto;
  width: 80%;
  height: 100vh;
  text-align: center;
  row-gap: 30px;
  column-gap: 30px;
}

.hours {
  background-color: indianred;
  color: black;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}

.map {
  background-color: green;
  color: black;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
}

.access {
  background-color: blue;
  color: black;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
}


/* FOOTER  */

footer {
  grid-area: 'footer';
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
  background-color:#0D3655;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

h4 {
  color:#F3F3F3;
  justify-self: center;
  padding: 20px;
}